* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #E4E4E4;
  background-image: url("/images/bg.png");
  background-position: right top;
  background-repeat: no-repeat;
  color: #444;
  font-family: 'Open sans', sans-serif;
  padding: 10px;
}

@media (min-width: 600px) {
  body {
    background-color: lightseagreen;
  }
}

@media (min-width: 1000px) {
  body {
    background-color: pink;
  }
}

.content {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .content {
    width: 960px;
  }
}

header {
  margin: 30px 0;
}

header .logo {
  margin: 0 auto;
  border-radius: 10px;
  font-size: 2em;
  display: block;
  background-color: #08857F;
  padding: 0.15em 0.3em;
  width: 5.5em;
  color: white;
  text-decoration: none;
  font-family: 'Caesar Dressing', cursive;
  letter-spacing: 0.25em;
  text-align: center;
}

@media (min-width: 600px) {
  header .logo {
    margin: 0;
    font-size: 30px;
  }
}

section.intro {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
}

section.intro div.text {
  text-align: center;
}

section.intro div.text h1 .animals {
  font-family: 'Caesar Dressing', cursive;
  color: #08857F;
  letter-spacing: 0.25em;
}

section.intro div.text h2 {
  font-size: 1em;
}

section.intro div.buttons {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

section.intro div.buttons button.lets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 1em;
  border-radius: 10px;
  border-width: 0;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #08857F;
  color: white;
}

section.intro div.buttons button.lets span.fa {
  padding: 0.5em;
}

section.intro div.buttons button.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 1em;
  border-radius: 10px;
  border-width: 0;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #ccc;
  color: #444;
}

section.intro div.buttons button.more span.fa {
  padding: 0.5em;
}

@media (min-width: 600px) {
  section.intro {
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  section.intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.intro div.buttons,
  section.intro div.text {
    margin: 0 2rem;
  }
  section.intro div.buttons button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.intro div.buttons button.lets {
    margin-top: 0;
  }
}

section.tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.tiles .flamingo,
section.tiles .owl,
section.tiles .wolf {
  border-radius: 10px;
  background-color: white;
  margin-top: 30px;
}

section.tiles .flamingo img,
section.tiles .owl img,
section.tiles .wolf img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

section.tiles .flamingo h3,
section.tiles .flamingo p,
section.tiles .owl h3,
section.tiles .owl p,
section.tiles .wolf h3,
section.tiles .wolf p {
  padding: 10px 20px;
}

@media (min-width: 1000px) {
  section.tiles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.tiles .flamingo,
  section.tiles .owl,
  section.tiles .wolf {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
  }
}

section.about {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 1rem;
  margin-top: 30px;
  border-radius: 10px;
}

section.about div.text button,
section.about div.interesting-stuff button {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 1em;
  border-radius: 10px;
  border-width: 0;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #08857F;
  color: white;
}

section.about div.text button span.fa,
section.about div.interesting-stuff button span.fa {
  padding: 0.5em;
}

section.about .interesting-stuff .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.about .interesting-stuff .images img {
  width: 50%;
  height: 50%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1000px) {
  section.about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  section.about div.text,
  section.about div.interesting-stuff {
    padding: 20px;
  }
  section.about div.text button,
  section.about div.interesting-stuff button {
    width: 50%;
  }
}

section.footer {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
}

section.footer div.random {
  padding: 30px;
}

section.footer div.random p {
  text-decoration: underline;
}

section.footer div.social {
  padding: 30px;
}

section.footer div.social .fab {
  font-size: 2em;
}

@media (min-width: 600px) {
  section.footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.footer div.random,
  section.footer div.social {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 1000px) {
  section.footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=main.css.map */